<footer class="page-footer font-small bg-secondary pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h4 class=text-white> Siga-nos nas redes sociais</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
            <a href="https://www.facebook.com/marcos.dossantos.98096/" target="_blank" class="icoFace">
              <i class="fab fa-facebook" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.instagram.com/markosant_/" target="_blank" class="icoInsta">
              <i class="fab fa-instagram" aria-hidden="true"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/marcos-dos-santos-1834ab92/" target="_blank" class="icoLin">
              <i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2021 Copyright: Marcos dos Santos </span>
  </div>
</footer>